src/main/resources/wsdl/FakeFlexicube.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/FakeFlexicube/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FakeFlexicube" targetNamespace="http://www.example.org/FakeFlexicube/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.org/FakeFlexicube/">
            <xsd:element name="FakeElement" type="tns:NewType"></xsd:element>
            <xsd:complexType name="NewType">
                <xsd:sequence>
                    <xsd:any></xsd:any>
                </xsd:sequence></xsd:complexType>
            <xsd:element name="CreateTxnAsyncResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="out" type="xsd:string"></xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="CreateTransactionFault">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CreateTxnAsyncFault"
                                     type="xsd:string">
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateTransactionRequest">
        <wsdl:part element="tns:FakeElement" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="CreateTransactionResponse">
        <wsdl:part name="parameters" element="tns:FakeElement"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="CreateTransactionFault">
        <wsdl:part name="parameters" element="tns:CreateTransactionFault"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FakeFlexicube">
        <wsdl:operation name="CreateTransaction">
            <wsdl:input message="tns:CreateTransactionRequest"/>
            <wsdl:output message="tns:CreateTransactionResponse"></wsdl:output>
            <wsdl:fault name="fault" message="tns:CreateTransactionFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FakeFlexicubeSOAP" type="tns:FakeFlexicube">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateTransaction">
            <soap:operation soapAction="http://www.example.org/FakeFlexicube/CreateTransaction"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FakeFlexicube">
        <wsdl:port binding="tns:FakeFlexicubeSOAP" name="FakeFlexicubeSOAP">
            <soap:address location="http://www.example.org/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
